body{
    background-color: rgb(62, 175, 175);
    color: white;
    text-align: center;
}

section{

    background-color: white;
    color: black;
    text-align: left;
    width: 500px;
    padding: 30px;
    margin: auto;
    border-radius: 10px;



}

select#flista{

    width: 180px;
    height: 105;

}
footer{

    font-style: italic;


}